@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

/* HEADINGS */

h1{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h2{
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

h2 b{
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  color: #4DD1C4;
}

h3{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight:lighter;
  font-size: 30px;
}

span{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}

/* Konten */
.konten{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px ;

}

.konten-text{
  display: block;
  margin-top: 30px;
  padding: 100px;
}

.konten-img{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
}

/* project */
.project{
  display: block;
  padding: 100px;
}

.card{
  padding: 30px;
}

.project-h1{
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 40px;
}

/* about */

.about{
  text-align: left;
  padding: 100px;
}

.about p{
  padding-top: 0;
  padding-left: 25px;
}


 /* footer */
footer{
  padding-top: 30px;
  background-color: #141C2E;
 }

 .card-body{
  color: #ffffff;
  text-align: center;
 }

/* box icon */



/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color:#141C2E;
}

.grad-bar {
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  	-webkit-animation: gradbar 15s ease infinite;
	-moz-animation: gradbar 15s ease infinite;
	animation: gradbar 15s ease infinite;
}

/* NAVIGATION */
nav{
  position: fixed;
  top: 1;
  left: 0;
}

.navbar {
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}

.nav-item a {
  color: #FFF;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */



/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}
